<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="ConnectionString">
    <Parameter Name="SFTestDB" Value="DefaultEndpointsProtocol=https;AccountName=sftestsz;AccountKey=7FhNYKX4Q7eCPykhDrPdTWiVaf6b6XfMirivcykniW2DB5hwCEzvDn8/J5GTGpvs0rKQGL+cDwscyIrTvKHtPQ==;EndpointSuffix=core.windows.net" />
    <Parameter Name="ServiceUri" Value="fabric:/SFTest/ConfigurationService" />
  </Section>
</Settings>
